body {
font-size: 100%;
font-family:'Lato';
}

#header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
nav{
    
}
nav ul li{
    list-style: none;
    display: inline;
    background: #21955F;
    font-size: 16px;
    
}


.paragraph{
 background: #21955F;
    color: white;
    font-size: 18px;
    font-family:'Lato';
    column-count: 2;
    padding: 20px;
    justify-content: center;
}

.paragraph p{
    padding-top:0px;
}
