
@media screen and (min-width: 1024px) {
		body {
font-size: 100%;
font-family:'Lato';
}

header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
    
nav {
    background-color: #5BBD1A;
    padding: 10px;
    font-size: 18px;
}

nav ul li{
    list-style: none;
    display: inline;
    color: white;
    font-size: 20px;
    margin: 10px;
}

.paragraph {
    background: #21955F;
    color: white;
    font-size: 18px;
    font-family:'Lato';
    column-count: 2;
    padding: 20px;
    text-align: justify;
    padding-top: 0px;
    }
}
@media screen and (max-width: 1023px) {
body {
font-size: 100%;
font-family:'Lato';
}

header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
nav {
    background-color: #5BBD1A;
    padding: 10px;
    font-size: 18px;

}

nav ul li{
    list-style: none;
    display: inline;
    color: white;
    font-size: 20px;
    margin: 10px;
}

.paragraph{
    background: #21955F;
    color: white;
    font-size: 18px;
    font-family:'Lato';
    column-count: 2;
    padding: 20px;
    text-align: justify;
    padding-top: 0px;
    }
}

table {
background: #21955F;
color:white;
}

th {
   style: "em"; 
}


